 .nav {
   width: 100%;
   margin-top: 10px;

   a {
     margin-right: 10px;
     color: #000000;
     text-decoration: none;
   }

   .title {
     margin-right: 10px;
     font-size: 25px;
     font-weight: bold;
   }

   .rt-nav {
     float: right;
   }
 }