<mat-card class="post-confirm">
  <mat-card-title *ngIf="!postId" class="title">Create Post Confirmation</mat-card-title>
  <mat-card-title *ngIf="postId" class="title">Update Post Confirmation</mat-card-title>
  <mat-card-content class="list-group">
    <mat-list role="list" class="list-title">
      <mat-list-item role="listitem">
        Title
      </mat-list-item>
      <mat-list-item role="listitem">
        Description
      </mat-list-item>
      <mat-list-item *ngIf="postData.postId" role="listitem">
        Status
      </mat-list-item>
    </mat-list>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <!--{{postData.form?.title}}-->
        {{postData.title}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <!--{{postData.form?.description}}-->
        {{postData.description}}
      </mat-list-item>
      <mat-list-item *ngIf="postData.postId" role="listitem">
        <mat-slide-toggle [checked]="isChecked"></mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="button-group">
    <button mat-flat-button *ngIf="!postData.postId" (click)="createPost()" color="primary">Create</button>
    <button mat-flat-button *ngIf="postData.postId" (click)="createPost()" color="primary">Update</button>
    <button mat-stroked-button (click)="goBackPostCreate()" color="warn">Cancel</button>
  </mat-card-actions>
</mat-card>