.mat-elevation-z8 {
  width: 80%;
  margin: 1% auto;
  padding: 2%;

  .filter {
    display: flex;
    float: right;
    width: 48%;

    .opr-btn {
      width: 80%;

      button {
        margin: 0 1%;
      }
    }
  }

  table {
    width: 100%;

    .btn-title:hover {
      cursor: pointer;
      color: #4350af;
    }
    
  }
}
