.mat-elevation-z8 {
  width: 80%;
  margin: 1% auto;
  padding: 2%;

  .filter {
    display: flex;

    .opr-btn {
      width: 80%;

      button {
        margin: 0 1%;
        padding-right:2.5%;
        
        mat-icon {
          margin-right: 10%;
        }
      }
    }
  }

  table {
    width: 100%;
  }
}
